<div>
    <p>
        Invoice Number: {{invoice_number}}
    </p>
    <p>
        Client_id: {{Client_id}}
    </p>
    <p>
        <label> Amount</label>
       <input type="text" placeholder={{amount}}>
    </p>
    <p>
       <label>Due_Date:</label>  
        <input type="text" placeholder={{due_date}}>
    </p>
    <p>
        <label >Memo:</label>
        <input type="text" placeholder={{memo}}>
    </p>
</div>